/*                KEY POSITIONS

  ╭─────────────────────────╮   ╭─────────────────────────╮
  │ LT5 LT4 LT3 LT2 LT1 LT0 │   │ RT0 RT1 RT2 RT3 RT4 RT5 │
  │ LM5 LM4 LM3 LM2 LM1 LM0 │   │ RM0 RM1 RM2 RM3 RM4 RM5 │
  │ LB5 LB4 LB3 LB2 LB1 LB0 │   │ RB0 RB1 RB2 RB3 RB4 RB5 │
  ╰───────────╮ LH2 LH1 LH0 │   │ RH0 RH1 RH2 ╭───────────╯
              ╰─────────────╯   ╰─────────────╯ */

#define COMBO_TERM_FAST 20
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

&sk {  // sticky-key config
    release-after-ms = <900>;  // release after 0.9s
    quick-release;             // no double capitalization when rolling keys
};

ZMK_MOD_MORPH(lshft,
    bindings = <&kp LSHFT>, <&caps_word>;
    mods = <MOD_RSFT>;
)

ZMK_MOD_MORPH(rshft,
    bindings = <&kp RSHFT>, <&caps_word>;
    mods = <MOD_LSFT>;
)

// tap: key 2 | quick tap: key 2 | hold: key 1 
ZMK_HOLD_TAP(lkp,
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
    bindings = <&mo>, <&kp>;
)

// Sticky mods are released after 3.5s
ZMK_STICKY_KEY(skm,
    release-after-ms = <3500>;
    bindings = <&kp>;
    quick-release;
    ignore-modifiers;
)

// implements alt+tab behavior
ZMK_TRI_STATE(alt_tab,
    bindings = <&kt RGUI>, <&kp TAB>, <&kt RGUI>;
    ignored-key-positions = <LT4 LH2 RM0 RM1 RM2 RM3>;   // Ignore Q, ENTER and Arrows 
)

// tap: play/pause | double-tap: next song | tripple-tap: previous song
ZMK_TAP_DANCE(play_np,
    tapping-term-ms = <300>;
    bindings = <&kp C_PLAY_PAUSE>, <&kp C_NEXT>, <&kp C_PREVIOUS>;
)

// Cyrillic alphabet combos
ZMK_COMBO(sh, &kp LBKT, LT2 LT1, COL QWR, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(sht, &kp RBKT, LM2 LM1, COL QWR, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(ch, &kp GRAVE, LB2 LB1, COL QWR, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(yu, &kp BSLH, RT2 RT1, COL QWR, COMBO_TERM_FAST, COMBO_IDLE_FAST)
